<html>
<body>
    <div class="form-container">
       <h1>Job End Time Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint') }}" method="post">
        <h2>Enter Job Details</h2>

        <div class="mb-3">
            <label class="form-label">Account</label>
            <input class="form-control" type="number" name="account" placeholder="Enter Account" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Partition</label>
            <input class="form-control" type="number" name="partition" placeholder="Enter Partition" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Priority</label>
            <input class="form-control" type="number" name="priority" placeholder="Enter Priority" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Time Limit</label>
            <input class="form-control" type="number" name="timelimit" placeholder="Enter Time Limit" required />
        </div>
        <div class="mb-3">
            <label class="form-label">CPU Allocated TRES</label>
            <input class="form-control" type="number" name="CPU_ALLOC_TRES" placeholder="Enter CPU Allocated TRES" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Node Allocated TRES</label>
            <input class="form-control" type="number" name="NODE_ALLOC_TRES" placeholder="Enter Node Allocated TRES" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Billing Allocated TRES</label>
            <input class="form-control" type="number" name="BILLING_ALLOC_TRES" placeholder="Enter Billing Allocated TRES" required />
        </div>
        <div class="mb-3">
            <label class="form-label">CPU Requested TRES</label>
            <input class="form-control" type="number" name="CPU_REQ_TRES" placeholder="Enter CPU Requested TRES" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Memory Requested TRES</label>
            <input class="form-control" type="number" name="MEMORY_REQ_TRES" placeholder="Enter Memory Requested TRES" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Node Requested TRES</label>
            <input class="form-control" type="number" name="NODE_REQ_TRES" placeholder="Enter Node Requested TRES" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Billing Requested TRES</label>
            <input class="form-control" type="number" name="BILLING_REQ_TRES" placeholder="Enter Billing Requested TRES" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Queue Time</label>
            <input class="form-control" type="number" name="Queue_time" placeholder="Enter Queue Time" required />
        </div>
    
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Job End Time" />
        </div>
    </form>
    <h2>
       The prediction result is: {{ results }}
    </h2>
    </div>
</body>
</html>
