<html>
<body>
    <div class="form-container">
       <h1>Job End Time Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint') }}" method="post">
        <h2>Enter Job Details</h2>

        <div class="mb-3">
            <label class="form-label">Job Array ID</label>
            <input class="form-control" type="number" name="id_array_job" placeholder="Enter Job Array ID" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Task Array ID</label>
            <input class="form-control" type="number" name="id_array_task" placeholder="Enter Task Array ID" required />
        </div>
        <div class="mb-3">
            <label class="form-label">User ID</label>
            <input class="form-control" type="number" name="id_user" placeholder="Enter User ID" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Kill Request ID</label>
            <input class="form-control" type="number" name="kill_requid" placeholder="Enter Kill Request ID" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Nodes Allocated</label>
            <input class="form-control" type="number" name="nodes_alloc" placeholder="Enter Nodes Allocated" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Node List</label>
            <input class="form-control" type="text" name="nodelist" placeholder="Enter Node List" required />
        </div>
        <div class="mb-3">
            <label class="form-label">CPUs Requested</label>
            <input class="form-control" type="number" name="cpus_req" placeholder="Enter CPUs Requested" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Derived EC</label>
            <input class="form-control" type="number" name="derived_ec" placeholder="Enter Derived EC" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Exit Code</label>
            <input class="form-control" type="text" name="exit_code" placeholder="Enter Exit Code" required />
        </div>
        <div class="mb-3">
            <label class="form-label">GRES Requested</label>
            <input class="form-control" type="text" name="gres_req" placeholder="Enter GRES Requested" required />
        </div>
        <div class="mb-3">
            <label class="form-label">GRES Allocated</label>
            <input class="form-control" type="text" name="gres_alloc" placeholder="Enter GRES Allocated" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Array Max Tasks</label>
            <input class="form-control" type="number" name="array_max_tasks" placeholder="Enter Array Max Tasks" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Array Task Pending</label>
            <input class="form-control" type="number" name="array_task_pending" placeholder="Enter Array Task Pending" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Constraints</label>
            <input class="form-control" type="text" name="constraints" placeholder="Enter Constraints" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Flags</label>
            <input class="form-control" type="text" name="flags" placeholder="Enter Flags" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Memory Requested</label>
            <input class="form-control" type="number" name="mem_req" placeholder="Enter Memory Requested" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Partition</label>
            <input class="form-control" type="text" name="partition" placeholder="Enter Partition" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Priority</label>
            <input class="form-control" type="number" name="priority" placeholder="Enter Priority" required />
        </div>
        <div class="mb-3">
            <label class="form-label">State</label>
            <input class="form-control" type="text" name="state" placeholder="Enter State" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Time Limit</label>
            <input class="form-control" type="number" name="timelimit" placeholder="Enter Time Limit" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Time Submitted</label>
            <input class="form-control" type="number" name="time_submit" placeholder="Enter Time Submitted" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Time Eligible</label>
            <input class="form-control" type="number" name="time_eligible" placeholder="Enter Time Eligible" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Time Start</label>
            <input class="form-control" type="number" name="time_start" placeholder="Enter Time Start" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Time Suspended</label>
            <input class="form-control" type="number" name="time_suspended" placeholder="Enter Time Suspended" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Track Steps</label>
            <input class="form-control" type="number" name="track_steps" placeholder="Enter Track Steps" required />
        </div>
        <div class="mb-3">
            <label class="form-label">TRES Allocated</label>
            <input class="form-control" type="text" name="tres_alloc" placeholder="Enter TRES Allocated" required />
        </div>
        <div class="mb-3">
            <label class="form-label">TRES Requested</label>
            <input class="form-control" type="text" name="tres_req" placeholder="Enter TRES Requested" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Job Type</label>
            <input class="form-control" type="text" name="job_type" placeholder="Enter Job Type" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Job ID</label>
            <input class="form-control" type="number" name="id_job" placeholder="Enter Job ID" required />
        </div>
        
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Job End Time" />
        </div>
    </form>
    <h2>
       The prediction result is: {{ results }}
    </h2>
    </div>
</body>
</html>
